<div class="container">
  <h2>Extrato bancário</h2>
  <div class="balance">
    <strong>Saldo:</strong> {{ balance.amount | currency }}
  </div>
  <table>
    <thead>
      <tr>
        <th>Valor</th>
        <th>Status</th>
        <th>Data transferência</th>
        <th>Tipo Operação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions" [ngClass]="{'debit': transaction.type === 'DEBIT', 'credit': transaction.type === 'CREDIT'}">
        <td>{{ transaction.amount | currency }}</td>
        <td>{{ transaction.status }}</td>
        <td>{{ transaction.transactionDate | date }}</td>
        <td>{{ transaction.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
